@import 'variables';


.outter-parent{
    width: 100%;
    overflow: hidden;
}

.parent{
    // background-color: red;
    margin-top: 100px;
    position: relative;
}

.bgline-01{
    position: absolute;
    background-image: linear-gradient(to right, $color-pest , transparent);
    width: 300px;
    height: 20px;
    right: -80px;
    border-radius: 50px;
    z-index: -1;
}

.bgline-02{
    position: absolute;
    background-image: linear-gradient(to right, $color-pest , transparent);
    width: 200px;
    height: 20px;
    right: -80px;
    top: 40px;
    border-radius: 50px;
    z-index: -1;
}

.bgCircle-01{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-pest;
    right: 180px;
    top:  450px;
    z-index: -1;
 }
 
 .bgCircle-02{
     position: absolute;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: $color-pest;
     left: 300px;
     top: 100px;
     z-index: -1;
  }
 
 .bgCircle-03{
     position: absolute;
     width: 100px;
     top: 450px;
     z-index: -1;
 
     img{
         width: 100%;
     }
 }
 
 
 .bgbox-01{
     position: absolute;
     width: 500px;
     right: -450px;
     top: 200px;
     z-index: -1;
     img{
         width: 100%;
     }
 }


 .bgbox-02{
    position: absolute;
    width: 500px;
    left: -450px;
    top: -20px;
    z-index: -1;
    img{
        width: 100%;
    }
}

.plane{
    position: absolute;
    width: 180px;
    top: 160px;
    right: 60px;
    z-index: -1;
    img{
        width: 100%;
    }
}


@media only screen and (max-width: 899px) {

    .bgline-01{
        width: 200px;
    }
    
    .bgline-02{
        width: 100px;
    }

    .bgCircle-01{
        right: 100px;
    }
  
}

@media only screen and (max-width: 699px) {

    .bgline-01{
        width: 100px;
    }
    
    .bgline-02{
        width: 80px;
    }


    .bgCircle-01{
        display: none;
    }

    .bgCircle-02{
        display: none;
    }

    .bgbox-01{
        right: -450px;
    }
   
   
    .bgbox-02{
       left: -450px;  
   }
  
}