<div class="head">
  <h3>Our Alumna Work AT</h3>
</div>

<div class="circle-container">
  @for (i of [1,2,3,4,5,6,7]; track 1) {
  <app-single-alumuna></app-single-alumuna>
}

  <!-- <div class="circle">
    <img src="/images/success-stories/education2.png" alt="Person 2" />
  </div>
  <div class="circle">
    <img
      src="/images/success-stories/nestle-9-logo-png-transparent.png"
      alt="Person 3"
    />
  </div>
  <div class="circle">
    <img src="/images/success-stories/education-1.png" alt="Person 4" />
  </div>
  <div class="circle">
    <img src="/images/success-stories/education2.png" alt="Person 5" />
  </div>
  <div class="circle">
    <img
      src="/images/success-stories/nestle-9-logo-png-transparent.png"
      alt="Person 6"
    />
  </div>
  <div class="circle">
    <img src="/images/success-stories/education-1.png" alt="Person 7" />
  </div> -->
</div>



