<section class="hero-section">
  <div class="container">
    <div class="feature-tag">
      <span><b></b>{{showcase?.tag}}</span>
    </div>
    <h1>{{showcase?.title}}</h1>
    <div class="sub-title">
      <p>{{showcase?.description}}</p>
    </div>
    <a routerLink="/" class="cta-button">{{showcase?.btnText}}</a>
<!--    <div class="logo-container">-->
<!--      <div class="logos">-->
<!--        <img src="https://softlabit.com/assets/images/logo/softlabit-color%20210x39.png" alt="Savannah">-->
<!--        <img src="https://softlabit.com/assets/images/logo/softlabit-color%20210x39.png" alt="Milano">-->
<!--        <img src="https://softlabit.com/assets/images/logo/softlabit-color%20210x39.png" alt="Luminous">-->
<!--        <img src="https://softlabit.com/assets/images/logo/softlabit-color%20210x39.png" alt="Theo">-->
<!--        <img src="https://softlabit.com/assets/images/logo/softlabit-color%20210x39.png" alt="Amsterdam">-->
<!--        &lt;!&ndash; Repeat the logos to create an infinite effect &ndash;&gt;-->
<!--        <img src="https://softlabit.com/assets/images/logo/softlabit-color%20210x39.png" alt="Savannah">-->
<!--        <img src="https://softlabit.com/assets/images/logo/softlabit-color%20210x39.png" alt="Milano">-->
<!--        <img src="https://softlabit.com/assets/images/logo/softlabit-color%20210x39.png" alt="Luminous">-->
<!--        <img src="https://softlabit.com/assets/images/logo/softlabit-color%20210x39.png" alt="Theo">-->
<!--        <img src="https://softlabit.com/assets/images/logo/softlabit-color%20210x39.png" alt="Amsterdam">-->
<!--      </div>-->
<!--    </div>-->
  </div>
</section>
